<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<h1>TODO List</h1>
<div class="new">
  <input id="saisieTache" type="text" (keyup)="onKeyUp($event)" style="display: inline-block;" />
  <img title="Ajouter" width="20"
    style="display:inline-block; vertical-align: bottom; margin-left: 5px; cursor: pointer;"
  
    src="https://secure.webtoolhub.com/static/resources/icons/set114/28bdd2bd.png" (click)="ajouter()" />
</div>



<div class="containerParent">
  
  <div class="container">
    <div class="headerContainer">A faire</div>
    <div *ngFor="let tache of listeTache">
      <tache *ngIf="tache.statut === 'A faire'" [tache]="tache"  [listeAssociee]="listeTache"></tache>
    </div>
  </div>

    <div class="container">
      <div class="headerContainer">En cours</div>
      <div *ngFor="let tache of listeTache">
        <tache *ngIf="tache.statut === 'En cours'" [tache]="tache" [listeAssociee]="listeTache"></tache>
      </div>
    </div>

    <div class="container">
      <div class="headerContainer">Terminé</div>
      <div *ngFor="let tache of listeTache">
        <tache *ngIf="tache.statut === 'Terminé'"[tache]="tache"  [listeAssociee]="listeTache"></tache>
      </div>
    </div>
</div>
